{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div class="site-section">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="site-section-heading font-weight-light text-black text-center">Нашият екип</h2>
          </div>
        </div>
        <div class="row">
          {% for employee in employees %}
            <div class="col-md-6 col-lg-4 text-center mb-5" data-aos="fade-up">
              <img src="{{ employee.profile.image.url }}" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
              <h2 class="text-black font-weight-light mb-4">{{ employee.profile.name }}</h2>
              <p class="mb-4">{{ employee.profile.description }}</p>
              <p>
                <a href="{{ employee.profile.instagram }}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="{{ employee.profile.facebook }}" class="pl-3 pr-3"><span class="icon-facebook"></span></a>
                <a href="{{ employee.profile.twitter }}" class="pl-0 pr-3"><span class="icon-twitter"></span></a>
              </p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endblock content %}